---
import Html from "components/Html.astro";
import { getAllPosts, getPostById } from "modules/database";

export const getStaticPaths = async () => {
  const posts = await getAllPosts();
  return posts.map(({ id }) => ({ params: { id } }));
};

const { id } = Astro.params;
const post = await getPostById(id);
---

<Html>
  {
    post && (
      <div>
        <img src={`/uploads/${post.id}${post.extension}`} />
      </div>
    )
  }
</Html>
