---
import Html from "components/Html.astro";
import { data } from "modules/data";
import { getPostImageSrc } from "modules/fs";

const postId = Astro.params.postId!;
const post = data.getPost(postId);

if (!post) {
  return Astro.rewrite("/404");
}
---

<Html meta={{ thumbnail: getPostImageSrc(post, "og") }}>
  {
    post && (
      <>
        <div>
          <img src={getPostImageSrc(post, "medium")} />
        </div>

        <code>
          <pre>{JSON.stringify(post, null, 2)}</pre>
        </code>
      </>
    )
  }
</Html>

<style>
  div {
    width: 100%;
    height: calc(100dvh - 4em - 4em);
    padding: 2em;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
