---
import Html from "components/Html.astro";
import { getAllPosts, getPostById } from "modules/database";

export const getStaticPaths = async () => {
  const posts = getAllPosts();
  return posts.map(({ postId }) => ({ params: { postId } }));
};

const { postId } = Astro.params;
const post = getPostById(postId);
---

<Html>
  {
    post && (
      <>
        <div>
          <img src={`/uploads/${post.filename}`} />
        </div>

        <code>
          <pre>{JSON.stringify(post, null, 2)}</pre>
        </code>
      </>
    )
  }
</Html>

<style>
  div {
    width: 100%;
    height: calc(100dvh - 4em - 4em);
    padding: 2em;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
