---
import Html from "components/Html.astro";
import { getAllPosts } from "modules/database";

const posts = await getAllPosts();
---

<Html>
  <div id="posts">
    {
      posts.map(({ extension, id }) => (
        <a href={`/posts/${id}`}>
          <img src={`/uploads/${id}${extension}`} />
        </a>
      ))
    }
  </div>
</Html>

<style>
  #posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
</style>
