---
const props = Astro.props;
---

<div {...props}>
  <slot />
</div>

<style>
  div {
    padding: 2em;
    background-color: lightgrey;
    border-radius: 1em;
    border: 1px solid grey;
  }
</style>
