---
import Navbar from "components/Navbar.astro";
import { WEBSITE_URL } from "astro:env/server";

interface Props {
  meta?: {
    title?: string;
    thumbnail?: string;
  };
}

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Document</title>

    {
      meta?.thumbnail && (
        <>
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:image" content={WEBSITE_URL + meta.thumbnail} />

          <meta property="og:image" content={WEBSITE_URL + meta.thumbnail} />
          <meta
            property="og:image:secure_url"
            content={WEBSITE_URL + meta.thumbnail}
          />
          <meta property="og:image:type" content="image/jpeg" />
        </>
      )
    }
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 4em 1fr;
    margin: 0;
  }
</style>
