---
import type { Post } from "modules/data";
import { getPostImageSrc } from "modules/fs";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div id="posts">
  {
    posts.map((post) => (
      <a href={`/posts/${post.postId}`}>
        <div class="img-container">
          <img src={getPostImageSrc(post, "thumb")} />
        </div>
      </a>
    ))
  }
</div>

<style>
  #posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-auto-rows: 256px;
    gap: 1em;
    padding: 2em;
  }

  .img-container {
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
    overflow: hidden;

    &:hover {
      img {
        scale: 1.2;
      }
    }

    & img {
      height: 100%;
      width: 100%;

      object-fit: contain;
      background-color: white;
      transition: 150ms scale;
    }
  }
</style>
