---
import Html from "components/Html.astro";
import { acceptedUploadMimes } from "modules/upload";
import { handleUpload } from "modules/upload";

export const prerender = false;

const { request } = Astro;

let uploadResult;
if (request.method === "POST") {
  uploadResult = await handleUpload(request);
  Astro.response.status = uploadResult.status;
}
---

<Html>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input
      type="file"
      name="file"
      accept={acceptedUploadMimes.join()}
      required
    />
    <input type="submit" value="Upload" />
  </form>
  {uploadResult && <p>{uploadResult.message}</p>}
</Html>
