---
import Html from "components/Html.astro";
import PostsGrid from "components/PostsGrid.astro";
import { getAllPostsGroupedByDuplicates } from "modules/database";

const groups = getAllPostsGroupedByDuplicates();
---

<Html>
  {
    groups.map((posts, index) => (
      <div>
        <h2>{`Group ${index + 1}`}</h2>
        <PostsGrid posts={posts} />
      </div>
    ))
  }
</Html>
