---
import Html from "components/Html.astro";
import PostsGrid from "components/PostsGrid.astro";
import { data } from "modules/data";

const groups = data.getDuplicatesGroups();
---

<Html>
  {
    groups.map((group, index) => (
      <div>
        <h2>{`Group ${index + 1}`}</h2>
        <PostsGrid posts={group.posts} />
      </div>
    ))
  }
</Html>
